/* Reset and box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color variables */
:root {
  --yellow: #f1be32;
  --golden-yellow: #feac32;
  --dark-purple: #110815;
  --light-grey: #efefef;
}

/* Body styling */
body {
  background-color: var(--dark-purple);
  color: var(--light-grey);
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Background information container */
.bg-information-container {
  margin: 15px 0 25px;
  font-size: 1.2rem;
}

/* Button styling */
.btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  color: var(--dark-purple);
  background-color: var(--golden-yellow);
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid var(--golden-yellow);
  border-radius: 5px;
  font-size: 1rem;
}

.btn:hover {
  background-image: linear-gradient(#ffcc4c, #f89808);
}
